.chats {
    max-width: 700px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 1rem;
    margin: 0 auto;
}
.chats::-webkit-scrollbar-track {
    background: #202123;
}

.chats::-webkit-scrollbar-thumb {
    background: #212124;
}

.chats::-webkit-scrollbar-thumb:hover {
    background: #1d1d20;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

/* .hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
} */